*             { box-sizing: border-box; }
body          { background-color: #fcebb6;
                background-image: url(Images/background.gif);
                color: #221811;
                font-family: Verdana, Arial, sans-serif; }
dl            { padding-left: 3em;
                padding-right: 2em; }
footer        { background-color: #d2b48c;
                font-size: .60em;
                font-style: italic;
                text-align: center;
                padding-bottom: 10px;
                border-top: 2px solid;
                color: #221811;
                display: block; }
h1            { background-image: url(Images/javajamlogo.jpg);
                background-repeat: no-repeat;
                height: 150px;
                background-color: #d2b48c;
                padding-top: 45px;
                padding-left: 220px;
                font-size: 3em; }
h2            { padding-left: 3em;
                padding-right: 2em; }
h3            { padding-left: 3em;
                padding-right: 2em; }
h4            { background-color: #d2b48c;
                border-bottom: 2px ridge #000000;
                text-transform: uppercase;
                font-size: 1.2em;
                padding-left: 3em;
                padding-right: 2em;
                padding-bottom: 0; }
header        { height: 150px;
                display: block; }   
img           { padding-right: 10px;
                padding-left: 10px; }
main          { background-color: #fef6c2;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 2em;
                margin-left: 200px;
                display: block; }
nav           { float: left;
                width: 200px;
                text-align: center;
                font-size: 1.5em;
                padding-top: 10px;
                font-weight: bold;
                display: block; }
nav a         { text-decoration: none; }
nav a:link    { color: #fef6c2; }
nav a:visited { color: #d2b48c; }
nav a:hover   { color: #cc9933; }
nav ul        { list-style-type: none;
                padding: 0; }
p             { padding-left: 3em;
                padding-right: 2em; }
ul            { padding-left: 3em;
                padding-right: 2em; }
.details      { padding-right: 20%;
                padding-left: 20%;
                padding-top: 2em;
                overflow: auto; }
.floatleft    { padding-right: 20px;
                padding-bottom: 20px; }
#address      { padding-left: 3em;
                padding-right: 2em; }
#heroroad     { background-image: url(Images/heroroad.jpg);
                background-repeat: no-repeat;
                background-size: 100%;
                height: 250px; }
#heromugs     { background-image: url(Images/heromugs.jpg);
                background-repeat: no-repeat;
                background-size: 100%;
                height: 250px; }
#heroguitar   { background-image: url(Images/heroguitar.jpg);
                background-repeat: no-repeat;
                background-size: 100%;
                height: 250px; }
#wrapper      { background-color: #231814;
                width: 80%;
                min-width: 900px;
                max-width: 1280px;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 4px 4px 5px; }